/*code for mobile*/
body{
    width: 100%;
}
.formelement{
    width: 100%;
}



/*code for desktop*/
@media only screen and (min-width: 768px) {
    body{
        width: 960px;
    }
    .formelement{
        width: 20%;
    }
    #submitform{
        width: 100%;
    }
}
